<app-header></app-header>
<!--<app-menu></app-menu>-->
<main>
  <div class="container">
      <div class="row">
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F722392072%2F960x0.jpg">
              <div class="card-body">
                <h4 class="card-title"><a>Cherry tomatoes to get costlier</a></h4>
                <p class="card-text">With a no-deal Brexit, you're likely to 
                pay 10% more for cherry tomatoes next month.</p>
                <a href="#" class="btn btn-primary">More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="https://images.fridaymagazine.ae/1_2118808/imagesList_0/2810815939_main.jpg">
              <div class="card-body">
                <h4 class="card-title"><a>Raw fruits and vegetables for breakfast?</a></h4>
                <p class="card-text">Raw fruits and vegetables that have been thinly sliced are great way to start your day.</p>
                <a href="#" class="btn btn-primary">More</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</main>
<!--<app-settings></app-settings>-->
<app-footer></app-footer>